.products-container {
    text-align: center;
  }
  
  .product-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }
  
  .product-item {
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 1em;
    margin: 1em;
    max-width: 200px;
    text-align: center;
  }
  
  .product-item img {
    max-width: 100%;
    height: auto;
  }
  
  .view-details {
    display: block;
    margin-top: 1em;
    color: #007BFF;
    text-decoration: none;
  }
  
  .view-details:hover {
    text-decoration: underline;
  }
  